/* OUTER ELEMENTS */
/* ************************************************************** */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
body {
    font-family: Consolas, Inconsolata, monospace;
    color: #e9edf0;
    -webkit-text-size-adjust: 100%;
}
div#grid-container {
    background: #d9d6cc;
}
/* NAVBAR */
/* ************************************************************** */
div#navbar {
    background: #40454e;
    font-weight: bold;
    color: #ffc800;
    box-shadow: 2px 3px 2px #636363;
}
/* SIDEBAR */
/* ************************************************************** */
div#left-sidebar {
    background: #353a44;
    box-shadow: 2px 3px 2px #636363;
}
div#left-sidebar-header::after {
    content: "";
    width: 90%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px dotted white;
}
span.left-sidebar-header-text {
    font-weight: bold;
}
#add-list-button {
    color: #ffc800;
}
@media (min-width: 1000px) {
    div#left-sidebar-header::after {
        border-width: 2px;
    }
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #2b2e36; 
}
::-webkit-scrollbar-thumb {
  background: #7e8084; 
}
::-webkit-scrollbar-thumb:hover {
  background: #a7a8ab; 
}
/* WORKSPACE */
/* ************************************************************** */
div#workspace {
    background: #40454e;
    box-shadow: 2px 3px 2px #636363;
}
/* LIST VIEW */
/* ************************************************************** */
#todo-list-header-card::after {
    content: "";
    width: 100%%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px dotted white;
}
div#todo-list-items-div .list-item-card::after {
    content: "";
    position: absolute;
    margin-right: 0.35%;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #e9edf0;
}
@media (min-width: 1000px) {
    #todo-list-header-card::after {
        width: 97;
        border-width: 2px;
    }
    div#todo-list-items-div .list-item-card::after {
    }
}