/* OUTER ELEMENTS */
/* ************************************************************** */
body {
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
}
div {
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
}
.material-icons {
    font-size: 16px;
}
div#grid-container {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 30px 1fr;
    height: 100%;
}
@media (min-width: 1000px) {
    .material-icons {
        font-size: 24px;
    }
    div#grid-container {
        grid-template-columns: 1fr 6.5fr;
        grid-template-rows: 55px 1fr;
        font-size: 16px;
    }
}
/* NAVBAR */
/* ************************************************************** */
div#navbar {
    grid-column: 1/3;
    margin: 0;
    padding: 10px;
    align-self: center;
    font-size: 12px;
}
@media (min-width: 1000px) {
    div#navbar {
        margin: 10px 10px 0 10px;
        font-size: 24px;
    }
}
/* SIDEBAR */
/* ************************************************************** */
div#left-sidebar {
    margin: 0;
    display: grid;
    grid-template-rows: 40px 1fr;
    overflow: hidden;
}
div#left-sidebar-header {
    display: grid;
    position: relative;
}
span.left-sidebar-header-text {
    text-align: center;
    align-self: center;
    font-size: 12px;
}
span.left-sidebar-controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 20px;
}
.left-sidebar-controls span {
    text-align: center;
}
div#todo-lists-list {
    overflow: overlay;
}
div#todo-lists-list div {
    height: 40px;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 5px 0;
}
@media (min-width: 1000px) {
    div#left-sidebar {
        margin: 10px 0 10px 10px;
        grid-template-rows: 60px 1fr;
    }
    span.left-sidebar-header-text {
        font-size: 19px;
    }
    span.left-sidebar-controls {
        height: 24px;
    }
    div#todo-lists-list div {
        height: 71px;
        line-height: 71px;
    }
}
@media (min-width: 1550px) {
    span.left-sidebar-header-text {
        height: auto;
    }
    span.left-sidebar-controls {
        height: auto;
        grid-template-columns: 2fr 1fr 1fr;
    }
    .left-sidebar-header-text {
        position: absolute;
        bottom: 13px;
        left: 13.5px;
    }
    .left-sidebar-controls {
        position: absolute;
        right: 11px;
        bottom: 12px;
    }
}
/* WORKSPACE */
/* ************************************************************** */
div#workspace {
    padding-left: 1.5%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 40px 1fr;
}
/*div#modal_container {
    display: none;
}*/
@media (min-width: 1000px) {
    div#workspace {
        margin: 10px 10px 10px 0;
        grid-template-rows: 60px 1fr;
    }
}
/* LIST VIEW HEADER */
/* ************************************************************** */
#todo-list-header-card {
    position: relative;
    font-weight: bold;
    padding-bottom: 7px;
    margin-right: 1.5%;
}
#todo-list-header-card .list-controls-col {
    height: 16px;
}
div#todo-list-header-card div {
    align-self: self-end;
}
div#todo-list-header-card div:empty {
    display: none;
}
.list-controls-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.list-controls-col div {
    text-align: center;
}
@media (min-width: 1000px) {
    #todo-list-header-card {
        margin-right: 1.5%;
        padding-bottom: 12px;
    }
    div#todo-list-header-card div:empty {
        display: grid;
    }
    #todo-list-header-card .list-controls-col {
        height: 24px;
    }
    .list-controls-col {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1550px) {
    #todo-list-header-card {
        font-size: 19px;
    }
}
/* LIST VIEW ITEMS */
/* ************************************************************** */
div#todo-list-items-div {
    overflow: overlay;
    padding-right: 1.5%;
}
.list-item-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
div#todo-list-items-div .list-item-card {
    height: 40px;
    line-height: 40px;
    position: relative;
}
div#todo-list-items-div .list-item-card div {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 1%;
}
.task-col, .due-date-col {
    overflow: hidden;
}
div#todo-list-items-div .list-item-card .list-controls-col {
    padding-right: 0;
}
#todo-list-items-div .list-item-control.material-icons {
    line-height: 40px;
    padding-right: 0;
}
@media (min-width: 1000px) {
    div#todo-list-items-div {
        padding-right: 1.5%;
    }
    div#todo-list-items-div .list-item-card {
        height: 65px;
        line-height: 65px;
    }
    #todo-list-items-div .list-item-control.material-icons {
        line-height: 65px;
    }
}
/* DYNAMIC STATES */
/* ************************************************************** */
.disabled {
    /*pointer-events: none;*/
    opacity: 0.1; 
}
/* Sidebar */
@media (hover: hover) and (pointer: fine) {
    div#left-sidebar-header #add-list-button:hover {
        text-shadow: 2px 2px 30px rgba(238, 238, 238, 0.2);
    }
    div#left-sidebar-header .todo_button:not(.disabled):hover {
        cursor: pointer;
        text-shadow: 2px 2px 30px rgba(238, 238, 238, 0.7);
        filter: brightness(150%);
        transition: filter 0.05s ease-in-out;
    }
    div#todo-lists-list .todo_button:not(.disabled):hover {
        cursor: pointer;
        background: #c3c4c7;
        transition: background 0.1s ease-in-out;
    }
}
div#left-sidebar-header .todo_button:not(.disabled):active {
    filter: brightness(70%);
}
div#todo-lists-list .todo_button:not(.disabled):active {
    background: rgb(195, 196, 199, 0.7);
}
/* List view header */
@media (hover: hover) and (pointer: fine) {
    div#todo-list-header-card #close-list-button:hover {
        text-shadow: 2px 2px 20px rgba(255, 255, 255, 1);
    }
    .list-controls-col .todo_button:not(.disabled):hover {
        cursor: pointer;
        text-shadow: 2px 2px 30px rgba(238, 238, 238, 0.7);
        filter: brightness(150%);
        transition: filter 0.05s ease-in-out;
    }
}
.list-controls-col .todo_button:not(.disabled):active {
    filter: brightness(70%);
}
/* List view */
@media (hover: hover) and (pointer: fine) {
    .list-controls-col .list-item-control:not(.disabled):hover {
        cursor: pointer;
        text-shadow: 2px 2px 20px rgba(238, 238, 238, 1);
        filter: brightness(150%);
        transition: filter 0.05s ease-in-out;
    }
    #todo-list-items-div .list-item-card:hover {
        background: #4d5059;
        transition: background 0.1s ease-in-out;
    }
}
.undidOrRedidItem {
    background: #4d5059;
    text-shadow: 2px 2px 20px rgba(238, 238, 238, 0.2);
    filter: brightness(120%);
}
.list-controls-col .list-item-control:not(.disabled):active {
    filter: brightness(70%);
}
/* Renaming item description */
.task-col input {
    height: auto;
    width: 85%;
    padding: 1px;
    font-family: Consolas, Inconsolata, monospace;
}
div#todo-list-items-div .task-col:hover {
    cursor: text;
}
@media (min-width: 1000px) {
    .task-col input {
        height: 50%;
        font-size: 16px;
    }
}
/* Changing item due date */
.due-date-col input {
    height: auto;
    /*margin-right: 0px;*/
    width: 85%;
    font-size: 1.5vw;
    font-family: Consolas, Inconsolata, monospace;
}
div#todo-list-items-div .due-date-col :hover {
    cursor: pointer;
}
@media (min-width: 1000px) {
    .due-date-col input {
        height: 50%;
        font-size: 16px;
    }
}
/* Dropdown status */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.dropbtn {
    cursor: pointer;
    user-select: none;
}
.dropbtn:hover {
    background-color: #e9edf020;
    transition: background-color 0.1s ease-in-out;
}
.dropbtn:focus {
    background-color: #e9edf020;
    transition: background-color 0.1s ease-in-out;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 98%;
    overflow: overlay;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    outline: none;
    user-select: none;
}
.dropdown-content div {
    color: black;
    display: block;
    font-size: 12px;
    line-height: 40px;
}
#myDropdown div:hover {
    background-color: #ddd;
    cursor: pointer;
}
.showDropdown {
    display: block;
}
.highlightStatus {
    background-color: #e9edf020;
}
.complete {
    color: #8ed4f8;
}
.incomplete {
    color: #f5bc75;
}
@media (min-width: 1000px) {
    .dropdown-content div {
        font-size: 16px;
        height: fit-content;
        line-height: 65px;
    }
}
/* Modal confirmation window */
.modal-container.show {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}

.modal-container {
    /* display: none; */
    background-color: rgb(0, 0, 0, 0.4);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    /* opacity: 1; */
    pointer-events: none;
    transition: opacity 0.05s ease-in-out;
}

#modal-header {
    display: flex;
    border-bottom: 2px dotted;
    justify-content: space-between;
    font-weight: bold;
}

#modal-header h1 {
    font-size: 16px;
    padding-top: 55px;
    padding-bottom: 20px;
}

#modal-header button {
    background: none;
    border: 0;
    color: #e9edf0;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    margin-top: -2px;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    outline: none;
    transition: color 0.1s ease-in-out;
    user-select: none;
}

#modal-header button:hover {
    cursor: pointer;
/*     background-color: #707d85; */
    color: #eee;
    filter: brightness(150%);
    text-shadow: 2px 2px 20px rgba(238, 238, 238, 0.3);
    transition: background-color 0.1s ease-in-out;
}

#modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

#modal-buttons #modal-confirm {
    background: #353a44;
}



#modal-buttons button {
    background: none;
    border: 0;
    color: #e9edf0;
    border-radius: 4px;
    /* padding: 16px 150px; */
    padding: 14px 23px;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    transition: filter 0.1s ease-in-out;
    /* margin: 0 30%; */
    user-select: none;
    margin-left: 7px;
}

#modal-buttons #modal-cancel2:hover {
    cursor: pointer;
    /*     background-color: #707d85; */
    color: #eee;
    filter: brightness(150%);
    text-shadow: 2px 2px 30px rgba(238, 238, 238, 0.7);
    transition: filter 0.1s ease-in-out;
}

.modal {
    background-color: #40454e;
    padding: 23px;
    border-radius: 4px;
    max-width: 400px;
    width:  80%;
    text-align: center;
    height: 191px;
    margin-top: 12%;
}

#modal-header button:active {
/*     background-color: #9da4a8; */
    filter: brightness(70%);
}


#modal-buttons #modal-cancel2:active {
/*     background-color: #9da4a8; */
    filter: brightness(70%);
}

@media (hover: hover) and (pointer: fine) {
    div#todo-list-header-card #close-list-button:hover {
        text-shadow: 2px 2px 20px rgba(255, 255, 255, 1);
    }
    #modal-confirm:active {
        background-color: #9da4a8;
    }
    #modal-buttons #modal-confirm:hover {
    cursor: pointer;
    background-color: #252930;
    transition: background-color 0.1s ease-in-out;
    }
    #modal-buttons #modal-confirm:active {
        cursor: pointer;
        background-color: #353a44;
        transition: background-color 0.1s ease-in-out;
    }
}
#modal-buttons #modal-confirm:active {
    cursor: pointer;
    background-color: #353a4470;
    transition: background-color 0.1s ease-in-out;
}



@media (min-width: 1000px) {
    #modal-header h1 {
        font-size: 19px;
        padding-top: 38px;
        padding-bottom: 19px;
    }
    .modal {
        max-width: 576px;
    }
    #modal-buttons button {
        padding: 16px 25px;
        font-size: 16px;
    }
}