* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Consolas';
}

/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #2b2e36;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #7e8084;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background: #d9d6cc;
    color: #e9edf0;
}

#navbar {
    background: hsl(219, 10%, 28%);
    padding-left: 9px;
    box-shadow: 3px 3px 3px #636363;
}

#title-div {
    color: #ffc800;
    font-weight: bold;
    font-size: 24px;
    height: 100%;
    display: flex;
    align-items: center;
}

#left-sidebar {
    background: #353a44;
    box-shadow: 3px 3px 3px #636363;
    display: grid;
    grid-template-columns: 1fr 6.7fr;
    grid-template-rows: 1fr 13.1fr;
    padding: 0;
}

#left-sidebar-header {
    grid-column: 1/3;
    border-bottom: 2px dotted;
    color: var(--light-gray);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 12px;
    margin-right: 12px;
}

.left-sidebar-controls {
    display: flex;
    justify-content: space-between;
    width: 65px;
    margin-right: 35px;
    height: 100%;
}

.left-sidebar-controls span {
    margin-top: 20px;
    padding-top: 3px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.left-sidebar-controls span:active {
    background: #f0e9e958;
}

#todo-lists-list {
    grid-column: 1/3;
}

#todo-lists-list .todo_button {
    text-align: center;
    height: 74px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo_button {
    user-select: none;
}

.todo_button:hover {
    background: #e9edf020;
    cursor: pointer;
    transition: background 0.07s ease-in-out;
}

#todo-lists-list .todo_button:active {
    background: #f0e9e958;
}

.left-sidebar-controls #add-list-button {
    margin-right: 3px;
}

.left-sidebar-header-text {
    font-size: 19px;
    font-weight: bold;
    margin-left: 2px;
    padding-bottom: 11px;
}

#todo-lists-list {
    grid-template-columns: 1/2;
    grid-template-rows: 2/3;
    height: 800px;
    overflow: auto;
}

#workspace {
    background: #40454e;
    box-shadow: 3px 3px 3px #636363;
    display: grid;
    grid-template-rows: 61px 1fr;
}

#todo-list-header-card {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: bold;
    font-size: 19px;
    border-bottom: 2px dotted;
    color: var(--light-gray);
    margin-left: 25px;
    margin-right: 25px;
}

#todo-list-header-card .todo_button {
    height: 100%;
    padding-top: 27px;
}

#grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6.7fr;
    grid-template-rows: 1fr 16fr;
    padding: 10px;
    overflow: hidden;
}

#navbar {
    grid-column: 1/3;
    margin-bottom: 10px;
}

#add-list-button {
    color: #ffc800;
}

.list-controls-col {
    grid-column: 6/7;
    display: flex;
}

.list-controls-col .list-item-control {
    width: 80px;
    padding-left: 28px;
}

.list-controls-col .list-item-control:active {
    background: #f0e9e958;
}

#todo-list-items-div {
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    height: 783px;
    overflow: auto;
}

#todo-list-items-div .list-item-card {
    height: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: bold;
    border-bottom: 1px solid #e9edf0;
    align-items: center;
}

#todo-list-items-div .list-item-card:hover {
    background: #e9edf020;
    transition: background 0.07s ease-in-out;
}

#todo-list-items-div .list-controls-col .list-item-control {
    height: 65px;
    display: grid;
    align-items: center;
    user-select: none;
}

#todo-list-items-div .list-controls-col .list-item-control:hover {
    background: #e9edf020;
    transition: background 0.07s ease-in-out;
    cursor: pointer;
}

#todo-list-items-div .list-controls-col .list-item-control:active {
    background: #f0e9e958;
}