:root {
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    --swatch-foundation: #d9d6cc;
    /* USED FOR BODY BACKGROUND */
    --swatch-primary: #40454e;
    /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
    --swatch-complement: #353a44;
    /* USED IN CONTRAST BACKGROUND FOR TOOLBARS */
    --swatch-contrast: #111111;
    /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
    --swatch-accent: #ffc819;
    /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */
    --swatch-text: #e9edf0;
    /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */
    --swatch-text-accent: #ffc819;
    /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */
    --font-primary: 'Consolas', 'Lexend Exa', sans-serif;
}