/* OUTER ELEMENTS */
/* ************************************************************** */
body {
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
}
.material-icons {
    font-size: 16px;
}
div#grid-container {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 30px 1fr;
    height: 100%;
}
@media (min-width: 1000px) {
    .material-icons {
        font-size: 24px;
    }
    div#grid-container {
        grid-template-columns: 1fr 6.5fr;
        grid-template-rows: 55px 1fr;
        font-size: 16px;
    }
}
/* NAVBAR */
/* ************************************************************** */
div#navbar {
    grid-column: 1/3;
    margin: 0;
    padding: 10px;
    align-self: center;
    font-size: 12px;
}
@media (min-width: 1000px) {
    div#navbar {
        margin: 10px 10px 0 10px;
        font-size: 24px;
    }
}
/* SIDEBAR */
/* ************************************************************** */
div#left-sidebar {
    margin: 0;
    display: grid;
    grid-template-rows: 40px 1fr;
    overflow: hidden;
}
div#left-sidebar-header {
    display: grid;
    position: relative;
}
span.left-sidebar-header-text {
    text-align: center;
    align-self: center;
    font-size: 12px;
}
span.left-sidebar-controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 20px;
}
.left-sidebar-controls span {
    text-align: center;
}
div#todo-lists-list {
    overflow: overlay;
}
div#todo-lists-list div {
    height: 40px;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 5px 0;
}
@media (min-width: 1000px) {
    div#left-sidebar {
        margin: 10px 0 10px 10px;
        grid-template-rows: 60px 1fr;
    }
    span.left-sidebar-header-text {
        font-size: 19px;
    }
    span.left-sidebar-controls {
        height: 24px;
    }
    div#todo-lists-list div {
        height: 71px;
        line-height: 71px;
    }
}
@media (min-width: 1550px) {
    span.left-sidebar-header-text {
        height: auto;
    }
    span.left-sidebar-controls {
        height: auto;
        grid-template-columns: 2fr 1fr 1fr;
    }
    .left-sidebar-header-text {
        position: absolute;
        bottom: 13px;
        left: 13.5px;
    }
    .left-sidebar-controls {
        position: absolute;
        right: 11px;
        bottom: 12px;
    }
}
/* WORKSPACE */
/* ************************************************************** */
div#workspace {
    margin: 0;
    overflow: hidden;
    display: grid;
    grid-template-rows: 40px 1fr;
}
div#modal_container {
    display: none;
}
@media (min-width: 1000px) {
    div#workspace {
        margin: 10px 10px 10px 0;
        grid-template-rows: 60px 1fr;
    }
}
/* LIST VIEW HEADER */
/* ************************************************************** */
#todo-list-header-card {
    position: relative;
    padding: 0 0 12px 1.5%;
    font-weight: bold;
}
#todo-list-header-card .list-controls-col {
    height: 16px;
}
div#todo-list-header-card div {
    align-self: self-end;
}
div#todo-list-header-card div:empty {
    display: none;
}
.list-controls-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.list-controls-col div {
    text-align: center;
}
@media (min-width: 1000px) {
    div#todo-list-header-card div:empty {
        display: grid;
    }
    #todo-list-header-card .list-controls-col {
        height: 24px;
    }
    .list-controls-col {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1550px) {
    #todo-list-header-card {
        font-size: 19px;
    }
}
/* LIST VIEW ITEMS */
/* ************************************************************** */
div#todo-list-items-div {
    overflow: overlay;
}
.list-item-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
div#todo-list-items-div .list-item-card {
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 1.5%;
    position: relative;
}
div#todo-list-items-div .list-item-card div {
    height: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 5px;
}
#todo-list-items-div .list-item-control.material-icons {
    line-height: 40px;
}
@media (min-width: 1000px) {
    div#todo-list-items-div .list-item-card {
        height: 65px;
        line-height: 65px;
    }
    #todo-list-items-div .list-item-control.material-icons {
        line-height: 65px;
    }
}
/* DYNAMIC STATES */
/* ************************************************************** */
.task-col input {
    height: auto;
    width: 90%;
    padding: 1px;
    font-family: Consolas, Inconsolata, monospace;
}
@media (min-width: 1000px) {
    .task-col input {
        height: 50%;
        font-size: 16px;
    }
}